<section id="components">
    <div class="typography">
        <h2>TYPOGRAPHY</h2>
        
        <h3 class="big-title">Lorem ipsum dolor.</h3>
        <h3 class="big-title bright">Lorem ipsum dolor.</h3>
        <h3 class="big-title main">Lorem ipsum dolor.</h3>
        <h3 class="big-title secondary">Lorem ipsum dolor.</h3>
        <h3 class="big-title main bright">Lorem ipsum dolor.</h3>
        <h3 class="big-title secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="big-title semibold">Lorem ipsum dolor.</h3>
        <h3 class="big-title semibold bright">Lorem ipsum dolor.</h3>
        <h3 class="big-title semibold main">Lorem ipsum dolor.</h3>
        <h3 class="big-title semibold secondary">Lorem ipsum dolor.</h3>
        <h3 class="big-title semibold main bright">Lorem ipsum dolor.</h3>
        <h3 class="big-title semibold secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="big-title bold">Lorem ipsum dolor.</h3>
        <h3 class="big-title bold bright">Lorem ipsum dolor.</h3>
        <h3 class="big-title bold main">Lorem ipsum dolor.</h3>
        <h3 class="big-title bold secondary">Lorem ipsum dolor.</h3>
        <h3 class="big-title bold main bright">Lorem ipsum dolor.</h3>
        <h3 class="big-title bold secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="title">Lorem ipsum dolor.</h3>
        <h3 class="title bright">Lorem ipsum dolor.</h3>
        <h3 class="title main">Lorem ipsum dolor.</h3>
        <h3 class="title secondary">Lorem ipsum dolor.</h3>
        <h3 class="title main bright">Lorem ipsum dolor.</h3>
        <h3 class="title secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="title semibold">Lorem ipsum dolor.</h3>
        <h3 class="title semibold bright">Lorem ipsum dolor.</h3>
        <h3 class="title semibold main">Lorem ipsum dolor.</h3>
        <h3 class="title semibold secondary">Lorem ipsum dolor.</h3>
        <h3 class="title semibold main bright">Lorem ipsum dolor.</h3>
        <h3 class="title semibold secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="title bold">Lorem ipsum dolor.</h3>
        <h3 class="title bold bright">Lorem ipsum dolor.</h3>
        <h3 class="title bold main">Lorem ipsum dolor.</h3>
        <h3 class="title bold secondary">Lorem ipsum dolor.</h3>
        <h3 class="title bold main bright">Lorem ipsum dolor.</h3>
        <h3 class="title bold secondary bright">Lorem ipsum dolor.</h3>


        <h3 class="sub-title">Lorem ipsum dolor.</h3>
        <h3 class="sub-title bright">Lorem ipsum dolor.</h3>
        <h3 class="sub-title main">Lorem ipsum dolor.</h3>
        <h3 class="sub-title secondary">Lorem ipsum dolor.</h3>
        <h3 class="sub-title main bright">Lorem ipsum dolor.</h3>
        <h3 class="sub-title secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="sub-title semibold">Lorem ipsum dolor.</h3>
        <h3 class="sub-title semibold bright">Lorem ipsum dolor.</h3>
        <h3 class="sub-title semibold main">Lorem ipsum dolor.</h3>
        <h3 class="sub-title semibold secondary">Lorem ipsum dolor.</h3>
        <h3 class="sub-title semibold main bright">Lorem ipsum dolor.</h3>
        <h3 class="sub-title semibold secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="sub-title bold">Lorem ipsum dolor.</h3>
        <h3 class="sub-title bold bright">Lorem ipsum dolor.</h3>
        <h3 class="sub-title bold main">Lorem ipsum dolor.</h3>
        <h3 class="sub-title bold secondary">Lorem ipsum dolor.</h3>
        <h3 class="sub-title bold main bright">Lorem ipsum dolor.</h3>
        <h3 class="sub-title bold secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="text">Lorem ipsum dolor.</h3>
        <h3 class="text bright">Lorem ipsum dolor.</h3>
        <h3 class="text main">Lorem ipsum dolor.</h3>
        <h3 class="text secondary">Lorem ipsum dolor.</h3>
        <h3 class="text main bright">Lorem ipsum dolor.</h3>
        <h3 class="text secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="text semibold">Lorem ipsum dolor.</h3>
        <h3 class="text semibold bright">Lorem ipsum dolor.</h3>
        <h3 class="text semibold main">Lorem ipsum dolor.</h3>
        <h3 class="text semibold secondary">Lorem ipsum dolor.</h3>
        <h3 class="text semibold main bright">Lorem ipsum dolor.</h3>
        <h3 class="text semibold secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="text bold">Lorem ipsum dolor.</h3>
        <h3 class="text bold bright">Lorem ipsum dolor.</h3>
        <h3 class="text bold main">Lorem ipsum dolor.</h3>
        <h3 class="text bold secondary">Lorem ipsum dolor.</h3>
        <h3 class="text bold main bright">Lorem ipsum dolor.</h3>
        <h3 class="text bold secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="caption">Lorem ipsum dolor.</h3>
        <h3 class="caption bright">Lorem ipsum dolor.</h3>
        <h3 class="caption main">Lorem ipsum dolor.</h3>
        <h3 class="caption secondary">Lorem ipsum dolor.</h3>
        <h3 class="caption main bright">Lorem ipsum dolor.</h3>
        <h3 class="caption secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="caption semibold">Lorem ipsum dolor.</h3>
        <h3 class="caption semibold bright">Lorem ipsum dolor.</h3>
        <h3 class="caption semibold main">Lorem ipsum dolor.</h3>
        <h3 class="caption semibold secondary">Lorem ipsum dolor.</h3>
        <h3 class="caption semibold main bright">Lorem ipsum dolor.</h3>
        <h3 class="caption semibold secondary bright">Lorem ipsum dolor.</h3>

        <h3 class="caption bold">Lorem ipsum dolor.</h3>
        <h3 class="caption bold success">Lorem ipsum dolor.</h3>
        <h3 class="caption bold warning">Lorem ipsum dolor.</h3>
        <h3 class="caption bold error">Lorem ipsum dolor.</h3>
        <h3 class="caption bold bright">Lorem ipsum dolor.</h3>
        <h3 class="caption bold main">Lorem ipsum dolor.</h3>
        <h3 class="caption bold secondary">Lorem ipsum dolor.</h3>
        <h3 class="caption bold main bright">Lorem ipsum dolor.</h3>
        <h3 class="caption bold secondary bright">Lorem ipsum dolor.</h3>
    </div>

    <div class="buttons">
        <h2>BUTTONS</h2>

        <button class="btn flat">Hello</button>
        <button class="btn raised">Hello</button>
        <button class="btn raised primary">Hello</button>
        <button class="btn link">Hello</button>
    </div>

    <div class="icons">
        <h2>ICONS</h2>

        <i class="icon-add"></i>
        <i class="icon-arrow_back"></i>
        <i class="icon-arrow_drop_down"></i>
        <i class="icon-arrow_drop_up"></i>
        <i class="icon-arrow_forward"></i>
        <i class="icon-build"></i>
        <i class="icon-check"></i>
        <i class="icon-close"></i>
        <i class="icon-exposure_neg"></i>
        <i class="icon-exposure_plus"></i>
        <i class="icon-menu"></i>
        <i class="icon-more_vert"></i>
        <i class="icon-warning"></i>
        <i class="icon-share"></i>
        <i class="icon-tag"></i>
        <i class="icon-bubble"></i>
        <i class="icon-bubbles"></i>
        <i class="icon-user"></i>
        <i class="icon-users"></i>
        <i class="icon-spinner"></i>
        <i class="icon-exit"></i>
        <i class="icon-loop"></i>
    </div>

    <div class="navigations">
        <nav class="navigation">
            <a class="btn" href="">Home</a>
            <a class="btn" href="">New discussion</a>
            <span class="flex"></span>
            <a class="btn" href="">Login</a>
            <a class="btn" href="">Register</a>
            <a class="btn" href="">Logout</a>
            <span class="activity-indicator"></span>
        </nav>
    </div>

</section>