html {
    font-family: @font_base;

    background: @color_bright_bgs;

    &,
    body {
        width: 100%;
        height: 100%;
    }
    
    body {
        font-family: inherit;
    }
}

a {
    cursor: pointer;

    color: @color_main;
}

.flex {
    flex: 1;
}

.pull- {
    &.left {
        float: left;
    }
    &.right {
        float: right;
    }
}

.text- {
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
    &.center {
        text-align: center;
    }
}

.clear {
    clear: both;
}
