/*
    ----------------------------------------------------------
    Team-Starfire App
    ----------------------------------------------------------

    Module :  MAIN THEME FILE

    Authors : Ivan Bozhkov,

    ----------------------------------------------------------
    ----------------------------------------------------------
*/



/*    ---> PATHS <---    */
@path_images : "../images/";
@path_fonts  : "../fonts/";



/*    ---> COLORS <---    */
@color_main             : #0076fe; // [ only used 4 inheritance
@color_main_darker      : #005fcc;
@color_main_dark        : #212121;
@color_main_bright      : #fff;
@color_secondary_gray   : #878787;
@color_secondary_green  : #00c120;
@color_secondary_red    : #e50d0e;
@color_secondary_yellow : #e5c90d;
@color_shadow_base      : #000;
@color_bright_bgs       : #f0f0f0; // ]

// text-related
@color_text_main_dark        : fade(@color_main_dark, 87%);
@color_text_secondary_dark   : fade(@color_main_dark, 54%);
@color_text_caption_dark     : fade(@color_main_dark, 32%);
@color_text_main_bright      : fade(@color_main_bright, 100%);
@color_text_secondary_bright : fade(@color_main_bright, 70%);
@color_text_caption_bright   : fade(@color_main_bright, 30%);
@color_text_success          : @color_secondary_green;
@color_text_warning          : @color_secondary_yellow;
@color_text_danger           : @color_secondary_red;



/*    ---> SIZES <---    */
// text-related
@size_logo      : 28px;
@size_big_title : 22px;
@size_title     : 18px;
@size_sub_title : 14px;
@size_text      : 12px;
@size_caption   : 10px;

/*    ---> FONTS <---    */
@font_base          : OpenSans-Regular, Arial, Helvetica;
@font_main_regular  : OpenSans-Regular;
@font_main_light    : OpenSans-Light;
@font_main_semibold : OpenSans-Semibold;
@font_main_bold     : OpenSans-Bold;

/*    ---> SHADOWS <---    */
@shadow_base  : 0px 5px 10px fade(@color_shadow_base, 50%);
@shadow_small : 0px 2px 3px fade(@color_shadow_base, 30%);
@shadow_big   : ~"@{shadow_base}", 0px 7px 12px fade(@color_shadow_base, 10%);

/*    ---> TRANSITIONS <---    */
@transition_speed         : .3s;
@transition_fastspeed     : .1s;
@transition_type          : linear;
@transition_cubic         : cubic-bezier(0, 0, 0.2, 1);
@transition_default       : ~"@{transition_speed} @{transition_type}";
@transition_default_cubic : ~"@{transition_fastspeed} @{transition_cubic}";

/*    ---> BORDER RADIUS <---    */
@border_radius_default : 3px;

/*    ---> ICONS <---    */
@icons : add             "\e145",
         arrow_back      "\e5c4",
         arrow_drop_down "\e5c5",
         arrow_drop_up   "\e5c7",
         arrow_forward   "\e5c8",
         build           "\e869",
         check           "\e5ca",
         close           "\e5cd",
         exposure_neg    "\e3cb",
         exposure_plus   "\e3cd",
         menu            "\e5d2",
         more_vert       "\e5d4",
         warning         "\e002",
         share           "\e80d",
         tag             "\e935",
         bubble          "\e96b",
         bubbles         "\e96c",
         user            "\e971",
         users           "\e972",
         spinner         "\e981",
         exit            "\ea13",
         loop            "\ea2e";

