<div class="col-md-2 col-md-offset-5">
    <h1>Search results:</h1>
        <div class="container">
            <a href="/#/{{data._id}}" id="{{data.title}}">{{data.title}}</a>
            <h5>{{data.question}}</h5>
        </div>
</div>