.input-group {
    margin-top: 25px;
    margin-bottom: 25px;

    text-align: left;
    .caption {
        position: relative;
        bottom: -5px;
    }
    &::before,
    &::after {
        display: flex;
        height: 0;
        clear: both;

        content: "";
    }
}
