<section id="services">
    <div class="join container">
        <div class="card text-center">
            <h1 class="big-title main">Join Team Starfire Community</h1>
            <p class="title secondary">Team Starfire is a community of 4.7 million programmers, just like you, helping each other. <br>
            Join them; it only takes a minute:</p>
            <a href="#/register" class="btn raised primary">Register</a>
        </div>
    </div>
    <div class="services container">
        <div class="services-wrapper row">
            <div class="card-container col-md-4 col-sm-6">
                <a href="#/ios" class="card">
                    <h4 class="title main">iOS development</h4>
                    <p class="text secondary">For all Apple-boy or girl fans. In this thread you will find the answer you are looking for!</p>
                </a>
            </div><!--/.col-md-4-->
            <div class="card-container col-md-4 col-sm-6">
                <a href="#/javascript" class="card">
                    <h4 class="title main">Javascript development</h4>
                    <p class="text secondary">Undefined is not a function ends here!</p>
                </a>
            </div><!--/.col-md-4-->
            <div class="card-container col-md-4 col-sm-6">
                <a href="#/csharp" class="card">
                    <h4 class="title main">C-sharp development</h4>
                    <p class="text secondary">Microsoft and open source. I can't believe I'm saying that!</p>
                </a>
            </div><!--/.col-md-4-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->
