<h3 class="big-title">Lorem ipsum dolor.</h3>
<h3 class="big-title bright">Lorem ipsum dolor.</h3>
<h3 class="big-title main">Lorem ipsum dolor.</h3>
<h3 class="big-title secondary">Lorem ipsum dolor.</h3>
<h3 class="big-title main bright">Lorem ipsum dolor.</h3>
<h3 class="big-title secondary bright">Lorem ipsum dolor.</h3>

<h3 class="big-title semibold">Lorem ipsum dolor.</h3>
<h3 class="big-title semibold bright">Lorem ipsum dolor.</h3>
<h3 class="big-title semibold main">Lorem ipsum dolor.</h3>
<h3 class="big-title semibold secondary">Lorem ipsum dolor.</h3>
<h3 class="big-title semibold main bright">Lorem ipsum dolor.</h3>
<h3 class="big-title semibold secondary bright">Lorem ipsum dolor.</h3>

<h3 class="big-title bold">Lorem ipsum dolor.</h3>
<h3 class="big-title bold bright">Lorem ipsum dolor.</h3>
<h3 class="big-title bold main">Lorem ipsum dolor.</h3>
<h3 class="big-title bold secondary">Lorem ipsum dolor.</h3>
<h3 class="big-title bold main bright">Lorem ipsum dolor.</h3>
<h3 class="big-title bold secondary bright">Lorem ipsum dolor.</h3>

<h3 class="title">Lorem ipsum dolor.</h3>
<h3 class="title bright">Lorem ipsum dolor.</h3>
<h3 class="title main">Lorem ipsum dolor.</h3>
<h3 class="title secondary">Lorem ipsum dolor.</h3>
<h3 class="title main bright">Lorem ipsum dolor.</h3>
<h3 class="title secondary bright">Lorem ipsum dolor.</h3>

<h3 class="title semibold">Lorem ipsum dolor.</h3>
<h3 class="title semibold bright">Lorem ipsum dolor.</h3>
<h3 class="title semibold main">Lorem ipsum dolor.</h3>
<h3 class="title semibold secondary">Lorem ipsum dolor.</h3>
<h3 class="title semibold main bright">Lorem ipsum dolor.</h3>
<h3 class="title semibold secondary bright">Lorem ipsum dolor.</h3>

<h3 class="title bold">Lorem ipsum dolor.</h3>
<h3 class="title bold bright">Lorem ipsum dolor.</h3>
<h3 class="title bold main">Lorem ipsum dolor.</h3>
<h3 class="title bold secondary">Lorem ipsum dolor.</h3>
<h3 class="title bold main bright">Lorem ipsum dolor.</h3>
<h3 class="title bold secondary bright">Lorem ipsum dolor.</h3>


<h3 class="sub-title">Lorem ipsum dolor.</h3>
<h3 class="sub-title bright">Lorem ipsum dolor.</h3>
<h3 class="sub-title main">Lorem ipsum dolor.</h3>
<h3 class="sub-title secondary">Lorem ipsum dolor.</h3>
<h3 class="sub-title main bright">Lorem ipsum dolor.</h3>
<h3 class="sub-title secondary bright">Lorem ipsum dolor.</h3>

<h3 class="sub-title semibold">Lorem ipsum dolor.</h3>
<h3 class="sub-title semibold bright">Lorem ipsum dolor.</h3>
<h3 class="sub-title semibold main">Lorem ipsum dolor.</h3>
<h3 class="sub-title semibold secondary">Lorem ipsum dolor.</h3>
<h3 class="sub-title semibold main bright">Lorem ipsum dolor.</h3>
<h3 class="sub-title semibold secondary bright">Lorem ipsum dolor.</h3>

<h3 class="sub-title bold">Lorem ipsum dolor.</h3>
<h3 class="sub-title bold bright">Lorem ipsum dolor.</h3>
<h3 class="sub-title bold main">Lorem ipsum dolor.</h3>
<h3 class="sub-title bold secondary">Lorem ipsum dolor.</h3>
<h3 class="sub-title bold main bright">Lorem ipsum dolor.</h3>
<h3 class="sub-title bold secondary bright">Lorem ipsum dolor.</h3>

<h3 class="text">Lorem ipsum dolor.</h3>
<h3 class="text bright">Lorem ipsum dolor.</h3>
<h3 class="text main">Lorem ipsum dolor.</h3>
<h3 class="text secondary">Lorem ipsum dolor.</h3>
<h3 class="text main bright">Lorem ipsum dolor.</h3>
<h3 class="text secondary bright">Lorem ipsum dolor.</h3>

<h3 class="text semibold">Lorem ipsum dolor.</h3>
<h3 class="text semibold bright">Lorem ipsum dolor.</h3>
<h3 class="text semibold main">Lorem ipsum dolor.</h3>
<h3 class="text semibold secondary">Lorem ipsum dolor.</h3>
<h3 class="text semibold main bright">Lorem ipsum dolor.</h3>
<h3 class="text semibold secondary bright">Lorem ipsum dolor.</h3>

<h3 class="text bold">Lorem ipsum dolor.</h3>
<h3 class="text bold bright">Lorem ipsum dolor.</h3>
<h3 class="text bold main">Lorem ipsum dolor.</h3>
<h3 class="text bold secondary">Lorem ipsum dolor.</h3>
<h3 class="text bold main bright">Lorem ipsum dolor.</h3>
<h3 class="text bold secondary bright">Lorem ipsum dolor.</h3>

<h3 class="caption">Lorem ipsum dolor.</h3>
<h3 class="caption bright">Lorem ipsum dolor.</h3>
<h3 class="caption main">Lorem ipsum dolor.</h3>
<h3 class="caption secondary">Lorem ipsum dolor.</h3>
<h3 class="caption main bright">Lorem ipsum dolor.</h3>
<h3 class="caption secondary bright">Lorem ipsum dolor.</h3>

<h3 class="caption semibold">Lorem ipsum dolor.</h3>
<h3 class="caption semibold bright">Lorem ipsum dolor.</h3>
<h3 class="caption semibold main">Lorem ipsum dolor.</h3>
<h3 class="caption semibold secondary">Lorem ipsum dolor.</h3>
<h3 class="caption semibold main bright">Lorem ipsum dolor.</h3>
<h3 class="caption semibold secondary bright">Lorem ipsum dolor.</h3>

<h3 class="caption bold">Lorem ipsum dolor.</h3>
<h3 class="caption bold bright">Lorem ipsum dolor.</h3>
<h3 class="caption bold main">Lorem ipsum dolor.</h3>
<h3 class="caption bold secondary">Lorem ipsum dolor.</h3>
<h3 class="caption bold main bright">Lorem ipsum dolor.</h3>
<h3 class="caption bold secondary bright">Lorem ipsum dolor.</h3>
<section id="services">
    <div class="container">
        <div class="box first">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-apple icon-md icon-color1"></i>
                        <h4><a href="#/ios">iOS development</a></h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-android icon-md icon-color2"></i>
                        <h4><a href="#/javascript">Javascript development</a></h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-windows icon-md icon-color3"></i>
                        <h4><a href="#/csharp">C-sharp development</a></h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-html5 icon-md icon-color4"></i>
                        <h4>Ruby on Rails development</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-css3 icon-md icon-color5"></i>
                        <h4>Javascript development</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-thumbs-up icon-md icon-color6"></i>
                        <h4>Responsive web design</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->
