<h1>Add new Post</h1>
<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Thread Category</label>
    <div class="col-xs-10">
        <select id="thread-category">
            <option value="ios">iOS development</option>
            <option value="javascript">Javascript development</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Post title</label>
    <div class="col-xs-10">
        <input class="input-group" id="post-title"/>
    </div>
</div>
<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Post content</label>
    <div class="col-xs-10">
        <textarea id="post-content">

    </textarea>
        <button id="add-post-btn" class="btn btn-default">Add post</button>
    </div>
</div>
