#components {
    & > div {
        display: block;
        width: 100%;
        height: auto;
        padding: 10px;
        clear: both;
        box-sizing: border-box;
        &::before,
        &::after {
            display: flex;
            width: 100%;
            height: 0;
            clear: both;

            content: "";
        }
    }

    .typography {
        h3 {
            display: inline-block;
            width: auto !important;
        }
    }

    .buttons {
        .btn {
            margin: 10px;
        }
    }

    .icons {
        i {
            display: block;
            float: left;
            padding: 30px;

            font-size: 30px;

            transform: scale(.8);

            color: @color_main;
            background: fade(@color_main_bright, 70%);
        }
    }
}
