#services {
    > .container {
        padding-top: 50px;
    }

    > div.container:last-of-type {
        padding-bottom: 50px;
    }

    .join-content {
        padding: 10px;
        margin-right: -10px;
        margin-left: -10px;
        
        @media screen and (max-width: 768px) {
            margin: 0;
        }
    }

    .services-wrapper, {
        display: flex;
        margin-right: -10px;
        margin-left: -10px;

        align-items: stretch;

        @media screen and (max-width: 768px) {
            display: block;
            margin: 0;
        }
    }

    .card-container {
        display: flex;
        padding: 10px;
        box-sizing: border-box;

        p {
            width: 100%;
        }

        > a {
            display: flex;

            align-content: flex-start;
            flex-wrap: wrap;
        }
    }
}
