#services {
    > .container {
        padding-top: 50px;
    }

    > div.container:last-of-type {
        padding-bottom: 50px;
    }

    .services-wrapper {
        display: flex;
        margin-right: -10px;
        margin-left: -10px;

        align-items: stretch;
    }

    .card-container {
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        
        p {
            width: 100%;
        }

        > a {
            display: flex;

            align-content: flex-start;
            flex-wrap: wrap;
        }
    }
}
